@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: var(--byway-black);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 20px 2.5rem;
  border-bottom: 1px solid #000;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 3rem;
}

header nav input {
  width: 622px;
  height: 40px;
  padding-left: 40px;
}

header nav input::placeholder {
  font-size: 14px;
  font-weight: 500;
}
header nav div:first-of-type {
  position: relative;
}

header nav div:first-of-type .bx-search-alt-2 {
  font-size: 16px;
  color: #334155;
  position: absolute;
  top: 28%;
  left: 15px;
}

header nav div:first-of-type input {
  border: 1px solid #334155;
  border-radius: 8px;
}

header nav div:first-of-type input:focus {
  outline: none;
}
header nav div:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

header nav div:last-of-type .bx-cart-alt {
  font-size: 24px;
}

header nav div:last-of-type button:first-of-type {
  width: 61px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #334155;
  transition: all 0.3s ease-in-out;
}

header nav div:last-of-type button:first-of-type:hover {
  background-color: #334155;
  color: #fff;
  cursor: pointer;
}

header nav div:last-of-type button:last-of-type {
  width: 61px;
  height: 40px;
  color: #fff;
  background-color: #334155;
  transition: all 0.3s ease-in-out;
}

header nav div:last-of-type button:last-of-type:hover {
  background-color: transparent;
  color: #334155;
  cursor: pointer;
}

/* hero styling */

main {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 100vh;
}
main section:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section:first-of-type h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
}
main section:first-of-type form {
  display: flex;
  flex-direction: column;
  width: 500px;
}
main section:first-of-type form div:first-of-type div {
  margin-top: 20px;
}
main section:first-of-type label {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #0f172a;
}
main section:first-of-type form input {
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  margin-top: 5px;
  padding: 2px 15px;
  width: 500px;
  height: 50px;
}
main section:first-of-type form input::placeholder {
  color: #94a3b8;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
main section:first-of-type #signinbtn {
  color: #fff;
  background-color: #020617;
  border: none;
  border-radius: 8px;
  margin-block: 20px;
  padding: 8px;
  width: 100px;
  height: 40px;
}
main section:first-of-type #signindiv2 {
  position: relative;
  text-align: center;
  margin: 30px 0px;
  width: 100%;
}
main section:first-of-type #signindiv2 hr {
  border-top: 1px solid #94a3b8;
  width: 100%;
}
main section:first-of-type #signindiv2 span {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  padding-inline: 10px;
  background-color: #fff;
  color: #94a3b8;
  font-size: 14px;
  font-weight: 400;
}
main section:first-of-type #signinsocials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
main section:first-of-type #signinsocials button {
  background-color: transparent;
  border: 1px solid #b2b5c4;
  border-radius: 8px;
  width: 180px;
  height: 45px;
}
/* MEDIA QUERY */

@media (max-width: 700px) {
  ul,
  li {
    display: none;
  }
  header {
    padding: 20px 35px;
  }
  header nav div:first-of-type input {
    display: none;
  }
  header nav div:first-of-type .bx-search-alt-2 {
    display: none;
  }
  header nav div:last-of-type {
    display: none;
  }
  #toggle_menu {
    cursor: pointer;
    display: block;
  }
  #toggle_menu i {
    font-size: 40px;
  }
  main {
    display: grid;
    grid-template-columns: none;
    height: 100vh;
  }
  main section:last-of-type {
    width: 100%;
    height: 200px;
  }
  main section:last-of-type img {
    width: 100%;
    height: 100%;
  }
  main section:first-of-type h2 {
    padding-top: 2rem;
  }
  main section:first-of-type form {
    padding-bottom: 2rem;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  ul,
  li {
    display: none;
  }
  header {
    padding: 20px 4rem;
  }
  header nav div:first-of-type input {
    display: none;
  }
  header nav div:first-of-type .bx-search-alt-2 {
    display: none;
  }
  header nav div:last-of-type {
    display: none;
  }
  #toggle_menu {
    cursor: pointer;
    display: block;
  }
  #toggle_menu i {
    font-size: 40px;
  }
  main {
    display: grid;
    grid-template-columns: none;
    height: 100vh;
  }
  main section:last-of-type {
    width: 100%;
    height: 400px;
  }
  main section:last-of-type img {
    width: 100%;
    height: 100%;
  }
  main section:first-of-type h2 {
    padding-top: 2rem;
  }
  main section:first-of-type form {
    padding-bottom: 2rem;
  }
}
